.submitBtn {
  font-family: sharpSansBold;
  border: none;
  cursor: pointer;
  margin: 15px;
  padding: 12px;
  border-radius: 20px;
  text-transform: uppercase;
  user-select: none;
  background-color: #3673ba;
  color: white;
  letter-spacing: 1px;
}
