.loginPage {
  display: flex;
}

#loginPage .funCase {
  margin-top: 190px;
  margin-left: 150px;
  margin-bottom: 70px;
}

.funCase p {
  font-family: Roboto;
  color: #727171;
  font-weight: 500;
  font-size: small;
  padding-left: 15px;
}

.funCase p a {
  color: rgb(54, 115, 186);
  text-decoration: none;
}

.funCase p a:hover {
  text-decoration: underline;
}
