.page-404 h1 {
  font-family: EuclidCircularBMedium;
  margin-top: 280px;
  text-align: center;
}

.page-404 p {
  font-family: Roboto;
  font-weight: 500;
  color: #8e8e8e;
  text-align: center;
  font-size: large;
}

.help-components {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.help-btn {
  font-family: sharpSansMedium;
  color: #3673ba;
  border: none;
  cursor: pointer;
  margin: 15px;
  padding: 12px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
}

.btn-green {
  background-color: #3d6657;
  color: white;
}

.btn-mad {
  background-color: #e8e970;
  color: #b3261e;
}

.disable-btn {
  opacity: 50%;
  cursor: auto;
}